---

interface Props {
  projectImage: string;
}

const {projectImage} = Astro.props

---

<div class="sample">
  <img class="proj-pic" src={projectImage}>
</div>

<style>
  .sample {
    display: flex;
    justify-content: center;
    gap: 12px;
    cursor: auto;
    overflow: hidden;
  }
  .proj-pic{
    max-height: 500px;
  }
  @media (max-width: 768px) {
    .sample {
      display: flex;
      width: 55%;
      justify-content: left;
      flex-direction: row;
      gap: 12px;
    }
  }
</style>

