---
import directus from "../lib/directus.js";
import {readSingleton} from "@directus/sdk";

const description = await directus.request(readSingleton("Description"))
---

<div class="intro-text">
  <h1 class="text-4xl mt-6 font-medium lg:text-5xl tracking-tight text-primary header-text mb-2">Who Am I?</h1>
  <br>
  <p class="paragraph-text text-primary text-2xl">
    {description.content}
  </p>
</div>