---
import directus from "../lib/directus.js";
import {readSingleton} from "@directus/sdk";

const description = await directus.request(readSingleton("Description"))
---

<div class="intro-text">
  <p class="paragraph-text text-primary text-2xl">
    {description.content}
  </p>
</div>