---
import directus from "../lib/directus.js";
import {readSingleton} from "@directus/sdk";

const summary = await directus.request(readSingleton("summary"))
---

<div class="intro-text">
  <p class="paragraph-text text-primary text-2xl">
    {summary.description}
  </p>
</div>