---
interface Props {
  codeName: string;
  icon: string;
}

const {codeName, icon } = Astro.props;
---
<div class="pill">
  <img class="icon-pic" src={icon}>
  {codeName}
</div>

<style>
  .pill{
    background-color: rgb(17, 98, 204);
    max-width: 1000px;
    text-align: center;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 25px;
    margin: 15px 5px;
    color: rgb(165, 207, 255);
    font-weight: 500;
    display: flex;
    align-items: center;
    
  }

  .icon-pic {
    max-width: 20px;
    max-height: 20px;
    margin-right: 5px;
  }
</style>